@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');
body {
    background-color: rgb(182, 116, 17);
}

.event {
    position: relative;
    margin: 10px 50px;
    font-size: 16px;
    font-family: 'Texturina', serif;
}

.event video {
    width: 100%;
    border: 2px solid white;
}

.event img {
    position: absolute;
    top: 10px;
    left: 3%;
    width: 250px;
}

.event .caption {
    position: absolute;
    bottom: 10%;
    left: 2px;
    background-color: rgba(182, 116, 17, 0.8);
    width: 100%;
    padding: 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.event .caption p {
    color: white;
    font-size: 2.5em;
    text-align: center;
    line-height: 5px;
    padding: 0;
}

@media screen and (max-width:1100px) {
    .event img {
        width: 180px;
    }
    .event .caption p {
        font-size: 1.5em;
    }
}

@media screen and (max-width:700px) {
    .event img {
        width: 100px;
    }
    .event .caption p {
        font-size: 1em;
    }
    .touchevents .promo {
        min-height: inherit;
    }
}

.touchevents .event {
    min-height: 700px;
    background: url('assets/image.png') no-repeat center top;
    background-size: cover;
    border: 2px solid white;
}

.touchevents .event .caption {
    left: 0px;
}

.touchevents .event video {
    display: none;
}